*{box-sizing: border-box}
body{margin: 0 auto;padding: 0;font-family:arial; font-size: 15px}
.container{width: 1200px; margin: 0 auto}
.topbar{background-color:#FFFF00;height: 80px; width: 100%;line-height: 80px}
.logo{float: left;width: 130px; height: auto; padding-left: 10px;margin-top: 10px}
.menu{float: right;margin-right: 30px}
.menu a{text-decoration: none;padding: 10px 20px;color:black;background:#F2D9D9; margin-right: 5px;border-radius: 20px }
.menu a:hover{background-color:#F39D9E;color: white;}
.banner{min-height:400px;background: #FCBF0C;}
.img100{width: 100%;height: auto}

.sidebar{width: 25%;min-height: 500px;background-color:#F1EDA9;float: left;}
.sidebar h3{text-align: center;color: #687DF8;padding-top: 15px}
.sidebar ul{list-style: none; padding: 0; margin: 0}
.sidebar ul li{min-height: 40px; line-height: 40px;border-bottom: 1px dotted #626262}
.sidebar ul li a{text-decoration: none;padding-left: 20px;color: #1D1C6A;font-size: 15px;display: block}
.sidebar ul li a:hover{background-color: #F7BC10}

.content{width: 75%;min-height: 500px; background-color:#687DF8; float: left;padding: 15px;color: white}
.content h2{text-align: center; color: #F1EDA9}
.w75{width:75%;float: left; padding: 10px}
.w66{width: 66.66%; float: left;padding: 10px}
.w33{width: 33.33%; float: left;padding: 10px}
.w25{width: 25%;float: left;padding: 10px}
.w50{width: 50%;float: left;padding: 10px}
.vienphai{border-right: 1px solid white}
.vientrai{border-left: 1px solid white;}

.nd a{text-decoration: none; color: white}
.nd a:hover{color: #F0B008}
.vang{color: #F1EDA9}
.fleft{float: left;margin-right: 10px}
.fright{float: right}
.footer{clear: both; min-height: 200px; width: 100%; background-color:#636363; color: white;padding: 20px}